@import "bootstrap";

.well {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fbfbfb;
  background-image: none;
}

.tag {
  float: right;
  font-size: 0.75em;
  line-height: 1.25em;
  font-weight: normal;
}

.unit {
  font-size: 0.6em;
  font-weight: medium;
}