<!DOCTYPE html>
<html>
<head>
  <title>Energy Monitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'http://192.168.0.12:9292/faye/faye.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h2>Energy Monitor</h2>
  <hr>
  <%= yield %>
</div>

</body>
</html>
